html, body {
    height: 100%;
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    color: #16352d;
}

.button {
    color: #2d1635;
    padding: 10px;
    margin: auto;
    width: 15em;
}

.button-text {
    color: #c8c5c9;
    text-align: center;
}

.user {
    padding: 10px;
    max-width: 220px;
    background:
}

.avatar {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.name {
    padding: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
}
