html, body {
    height: 100%;
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.button {
    padding: 10px;
    margin: auto;
    width: 15em;
}

.button-text {
    text-align: center;
}

.user {
    padding: 10px;
    max-width: 220px;
    color:
}

.avatar {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.name {
    padding: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
}
