<!DOCTYPE html>

<head>
  <title>Тестовое создание — страничка авторизации</title>
  <link rel="stylesheet" href="static/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    {% if session_id %}
    <div class="header">
      <span class="header-text"> Добро пожаловать! Снова. </span>
    </div>
    <div class="user">
      <img class="avatar" src="{{profile.photo_200_orig}}">
      <span class="name"> {{profile.first_name}} {{profile.last_name}}</span>
    </div>
    <div class="header">
      <span class="header-text"> Вот несколько друзей с вашей страницы: </span>
    </div>

    {% for user in users %}
    <div class="user">
      <img class="avatar" src="{{user.photo_200_orig}}">
      <span class="name"> {{user.first_name}} {{user.last_name}} </span>
    </div>
    {% endfor %}

    {% else %}
    <button onclick="window.location.href='https://oauth.vk.com/authorize?client_id=7572121&display=page&redirect_uri=http://test.pipfstarrd.net/callback&scope=friends&response_type=code'" class="button">
      <div class="button-text"> Авторизация через ВК </div>
    </button>
    {% endif %}
  </div>
</body>
