<!DOCTYPE html>

<head>
  <title>Тестовое создание — страничка авторизации</title>
  <link rel="stylesheet" href="static/main.css">
</head>

<body>
  <div class="container">
    {% if session_id %}
    {{ session_id }}
    {% else %}
    <button onclick="window.location.href='https://oauth.vk.com/authorize?client_id=7572121&display=page&redirect_uri=http://test.pipfstarrd.net/callback&scope=friends&response_type=code'" class="button">
      <div class="button-text"> Авторизация через ВК </div>
    </button>
    {% endif %}
  </div>
</body>
